<div class="container">
    <div class="container-x">
        <div class="about-us-top">
            <a href="/Baiviet.html">
                <h2>Về chúng tôi</h2>
            </a>
            <div class="row ">
                <div class="col-6 img-about-us imgs">
                    <img src="/img/AnhCat/ve-chung-toi.jpg" class="w-100" alt="ve-chung-toi">
                </div>
                <div class="col-6 content-about-us">
                    <h3>
                        Nội thất <span>Hoàng hoan</span><br>
                        Uy tín song hành chất lượng
                    </h3>
                    <p>
                        Nội thất <span>Hoàng Hoan</span> chúng tôi
                        tự hào là đứa con tinh thần ra đời
                        sau 30 năm hoạt động trên lĩnh vực kinh
                        doanh đồ gỗ với thương hiệu
                        ĐỒ GỖ HOÀNG HOAN nổi tiếng
                    </p>
                    <p>
                        Tài nguyên của chúng tôi là đội ngũ kiến
                        trúc sư tốt nghiệp
                        ĐH Kiến Trúc Hà Nội với nhiều năm kinh
                        nghiệm, luôn tràn đầy
                        nhiệt huyết và sức sáng tạo của tuổi trẻ.
                        Thế mạnh của chúng tôi
                        là sở hữu xưởng nội thất hơn 10.000m2 tại Hà
                        Nội sản xuất đa dạng
                        các sản phẩm với giá cả cạnh tranh.
                    </p>
                    <div class="list-img-about-us box-product">
                        <div class="img-about-us imgs ">
                            <img src="/img/AnhCat/ve-chung-toi-1.jpg" alt="ve-chung-toi-1">
                        </div>
                        <div class="img-about-us imgs">
                            <img src="/img/AnhCat/ve-chung-toi-2.jpg" alt="ve-chung-toi-2">
                        </div>
                        <div class="img-about-us imgs ">
                            <img src="/img/AnhCat/ve-chung-toi-3.jpg" alt="ve-chung-toi-3">
                        </div>
                        <div class="img-about-us imgs">
                            <img src="/img/AnhCat/ve-chung-toi-4.jpg" alt="ve-chung-toi-4">
                            <a href="#">Xem thêm ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-bottom">
        <h2>Tại sao nên chọn hoàng hoan</h2>
        <div class="row">
            <div class="col-6">
                <div class="box-about-us">
                    <div class="logo-about-us">
                        <img src="/img/AnhCatTC/ve-chung-toi/chinh-sach.jpg" alt="chinh-sach">
                    </div>
                    <div class="content-about-us">
                        <h5>Chính sách giá</h5>
                        <p>
                            Tốt nhất và công khai giá trên
                            website
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="box-about-us">
                    <div class="logo-about-us">
                        <img src="/img/AnhCatTC/ve-chung-toi/san-pham.jpg" alt="san-pham">
                    </div>
                    <div class="content-about-us">
                        <h5>Sản xuất</h5>
                        <p>
                            Tốt nhất và công khai giá trên
                            website
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="box-about-us">
                    <div class="logo-about-us">
                        <img src="/img/AnhCatTC/ve-chung-toi/chat-luong.jpg" alt="chat-luong">
                    </div>
                    <div class="content-about-us">
                        <h5>Chất lượng</h5>
                        <p>
                            Tốt nhất và công khai giá trên
                            website
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="box-about-us">
                    <div class="logo-about-us">
                        <img src="/img/AnhCatTC/ve-chung-toi/bao-hanh.jpg" alt="chat-luong">
                    </div>
                    <div class="content-about-us">
                        <h5>Bảo Hành</h5>
                        <p>Dịch vụ bảo hành tốt nhất khu vực</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>