<div class="container">
    <div class="box-banner">
        <h3>
            <span class="cl-blue">
                Thế giới nội thất số 1 việt nam
            </span>
            <br>
            <span class="cl-or">Hoàng Hoan</span>
        </h3>
        <p>
            Sứ mệnh của chúng tôi là kết hợp hài hoà giữa ý tưởng và
            mong muốn của khách hàng,
            đem lại những giây phút thư giãn tuyệt vời bên cạnh gia
            đình và người thân yêu.
        </p>
        <a href="/Lienhe.html" class="pulse-effect button-link">Liên hệ ngay</a>

    </div>
