<div class="container">
    <div class="list-category">
        <div class="row">
            <div class="box-category col-3">
                <div class="img-category">
                    <img src="/img/AnhCatTC/loai-sp/icon-phong-khach.png" alt="dm-phong-khach">
                </div>
                <a href="/Sanpham.html">
                    <h3>Phòng khách</h3>
                </a>
            </div>
            <div class="box-category col-3">
                <div class="img-category">
                    <img src="/img/AnhCatTC/loai-sp/icon-phong-ngu.png" alt="dm-phong-ngu">
                </div>
                <a href="/Sanpham.html">
                    <h3>Phòng Ngủ</h3>
                </a>
            </div>
            <div class="box-category col-3">
                <div class="img-category">
                    <img src="/img/AnhCatTC/loai-sp/icon-phong-bep.png" alt="dm-phong-khach">
                </div>
                <a href="/Sanpham.html">
                    <h3>Phòng Bếp</h3>
                </a>
            </div>
            <div class="box-category col-3">
                <div class="img-category">
                    <img src="/img/AnhCatTC/loai-sp/icon-phong-tam.png" alt="dm-phong-khach">
                </div>
                <a href="/Sanpham.html">
                    <h3>Phòng Tắm</h3>
                </a>
            </div>
            <div class="box-category col-3">
                <div class="img-category">
                    <img src="/img/AnhCatTC/loai-sp/icon-tre-em.png" alt="dm-phong-khach">
                </div>
                <a href="/Sanpham.html">
                    <h3>Trẻ em</h3>
                </a>
            </div>
            <div class="box-category col-3">
                <div class="img-category">
                    <img src="/img/AnhCatTC/loai-sp/icon-van-phong.png" alt="dm-phong-khach">
                </div>
                <a href="/Sanpham.html">
                    <h3>Văn phòng</h3>
                </a>
            </div>
            <div class="box-category col-3">
                <div class="img-category">
                    <img src="/img/AnhCatTC/loai-sp/icon-cau-thang.png" alt="dm-phong-khach">
                </div>
                <a href="/Sanpham.html">
                    <h3>Cầu Thang</h3>
                </a>
            </div>
            <div class="box-category col-3">
                <div class="img-category">
                    <img src="/img/AnhCatTC/loai-sp/icon-do-trang-tri.png" alt="dm-phong-khach">
                </div>
                <a href="/Sanpham.html">
                    <h3>Đồ trang trí</h3>
                </a>
            </div>
        </div>
    </div>
</div>