<div class="container">
    <div class="container-x">
        <div class="box-lien-he">
            <div class="lien-he-left">
                <div class="lien-he-top mt-5">Trải nghiệm dịch vụ</div>
                <div class="lien-he-bottom">cùng Hoàn Hoan ngay</div>
            </div>
            <div class="lien-he-right">
                <div class="input-lien-he">
                    <label for="exampleFormControlInput1" class="form-label">Thông tin liên hệ</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="email/số điện thoại">
                </div>
                <div class="btn-lien-he">
                    <button>Gửi</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="img-ghe">
    <img src="/img/AnhCat/lienhe-bg-removed.png" alt="">
</div>