@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Trang chủ xưởng mộc</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- Slick carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/banner.css" />
    <link rel="stylesheet" href="~/css/font.css" />

    <!-- Section CSS riêng -->
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Cursor -->
    <div class="cursor"></div>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="d-flex justify-content-between header-bgr">
                <div class="header-logo">
                    <img class="w-100" src="/img/logo.jpg" alt="logo">
                </div>
                @await Component.InvokeAsync("Navbar") <!-- Navbar component -->
                <div class="nav-icon">
                    <label for="toggleClass"><i class="fa-solid fa-bars"></i></label>
                </div>
            </div>
        </div>
    </header>

    <!-- Nội dung chính -->
    <main role="main" class="container">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h6>Thông tin chung</h6>
                    <h5>CÔNG TY TNHH HOÀNG HOAN</h5>
                    <div class="box-distance">
                        <a href="#"><i class="fa-solid fa-phone"></i> 0986294276</a><br />
                        <a href="#"><i class="fa-regular fa-envelope"></i> cskh@HoangHoan.vn</a><br />
                        <a href="#"><i class="fa-solid fa-location-dot"></i> Số 1 Nguyễn Trãi, Thanh Xuân, Hà Nội</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h6>Về chúng tôi</h6>
                    <div class="box-distance">
                        <p>Giới thiệu</p>
                        <p>Sản phẩm</p>
                        <p>Tin tức</p>
                        <p>Đối tác</p>
                        <p>Liên hệ</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h6>KẾT NỐI VỚI CHÚNG TÔI</h6>
                    <div class="box-icons">
                        <a href="https://www.facebook.com/em.langleben.90?mibextid=LQQJ4d">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                        <a href="/img/Liênhee.jpg"><img src="/img/AnhCat/san-pham/images/icon_07.jpg" alt="Zalo" /></a>
                        <a href="#"><i class="fa-regular fa-envelope"></i></a>
                    </div>
                    <div class="check">
                        <img src="/img/logoSaleNoti.png" alt="logoSale" />
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/photoshop.js"></script>

    <!-- JS riêng từng trang -->
    @RenderSection("Scripts", required: false)
</body>
</html>
