<div class="container">
    <div class="container-x">
        <a href="/Tintuc.html">
            <h2>Tin tức</h2>
        </a>
        <div class="box-news">
            <div class="news-left">
                <div class="img-news">
                    <img class="w-100" src="/img/AnhCatTC/tin-tuc/tintuc-1.jpg" alt="tintuc-1">
                </div>
                <div class="content-news">
                    <h4>
                        Cách chọn sofa cho phòng khách nhà bạn thêm
                        phần
                        sang trọng
                    </h4>
                    <p class="content-p">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Error maiores in animi est
                        id
                        consequuntur atque cum eius dolorum, cumque
                        architecto nobis pariatur doloremque, nihil
                        sequi aliquid ad delectus beatae?
                    </p>
                </div>
            </div>
            <div class="news-right">
                <div class="row item-news">
                    <div class="col-5">
                        <div class="img-news">
                            <img class="w-100 h-100" src="/img/AnhCat/tintuc-2.jpg" alt>
                        </div>

                    </div>
                    <div class="col-7">
                        <h4>Tiêu đề</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Iste error, ipsum cum
                            sit
                            et fugit praesentium dolorum voluptatum
                            perspiciatis omnis quia soluta, eius
                            distinctio quos ad vero dignissimos iure
                            sunt!
                        </p>
                    </div>
                </div>
                <div class="row item-news">
                    <div class="col-5">
                        <div class="img-news">
                            <img class="w-100 h-100" src="/img/AnhCat/tintuc-3.jpg" alt>
                        </div>

                    </div>
                    <div class="col-7">
                        <h4>Tiêu đề</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Iste error, ipsum cum
                            sit
                            et fugit praesentium dolorum voluptatum
                            perspiciatis omnis quia soluta, eius
                            distinctio quos ad vero dignissimos iure
                            sunt!
                        </p>
                    </div>
                </div>
                <div class="row item-news">
                    <div class="col-5">
                        <div class="img-news">
                            <img class="w-100  h-100" src="/img/AnhCat/tintuc-4.jpg" alt>
                        </div>

                    </div>
                    <div class="col-7">
                        <h4>Tiêu đề</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Iste error, ipsum cum
                            sit
                            et fugit praesentium dolorum voluptatum
                            perspiciatis omnis quia soluta, eius
                            distinctio quos ad vero dignissimos iure
                            sunt!
                        </p>
                    </div>
                </div>

                <a href="/Xemtatca_sp.html">Xem thêm <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
</div>