<div class="container">
    <div class="container-x">
        <a href="/Đoitac.html">
            <h2>Đối tác</h2>
        </a>
    </div>
    <div id="lists-doi-tac">
        <div class="img-doi-tac ">
            <img src="/img/AnhCatTC/doi-tac/vinpearl.png" alt>
        </div>
        <div class="img-doi-tac ">
            <img src="/img/AnhCatTC/doi-tac/muong-thanh.png" alt>
        </div>
        <div class="img-doi-tac ">
            <img src="/img/AnhCatTC/doi-tac/sheraton.png" alt>
        </div>
        <div class="img-doi-tac ">
            <img src="/img/AnhCatTC/doi-tac/the-coffee-house.png" alt>
        </div>
        <div class="img-doi-tac ">
            <img src="/img/AnhCatTC/doi-tac/marvella.png" alt>
        </div>
        <div class="img-doi-tac ">
            <img src="/img/AnhCatTC/doi-tac/sunrise-sapa.png" alt>
        </div>
        <div class="img-doi-tac center">
            <img src="/img/AnhCatTC/doi-tac/melissa.png" alt>
        </div>
    </div>
</div>