@model Project_DotNet.Models.DBModel.Introduction
@{
    Layout = "_Layout";
    ViewData["Title"] = "Giới thiệu";
}

<section id="banner">
    <div class="container">
        <div class="box-banner">
            <i><span><img src="~/img/AnhCatTC/logo.png" alt="logo"></span></i>
        </div>
        <div>
            <h3>GIỚI THIỆU</h3>
        </div>
    </div>
</section>

<section id="news">
    <div class="container">
        <div class="container-x">
            <h2>Thành lập & phát triển</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="image">
                        <img class="w-100" src="~/img/AnhCatTC/GIOITHIEU.jpg" alt="Giới thiệu">
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        Nội thất Hoàng Hoan được xây dựng dựa trên tình yêu, đam mê của tôi đối với nghề mộc
                        và khao khát mang những sản phẩm nội thất đẹp của mình đến với khách hàng thân yêu.
                    </p>
                    <p>
                        Cả một quá trình từ một người thợ phụ rồi trở thành thợ mộc chính, tự tạo ra cho mình một phân
                        xưởng nhỏ dần phát triển và hiện tại, Hoàng Hoan đã là một trong những công ty có dịch vụ thiết
                        kế và thi công nội thất uy tín chất lượng với giá tốt nhất tại Hà Nội với sứ mệnh "đem đến
                        cho khách hàng không gian nội thất hoàn hảo".
                    </p>
                    <p>
                        Hoàng Hoan luôn nỗ lực để tạo ra không gian đẹp cho khách hàng theo nhiều gam màu sắc khác
                        nhau và phong cách đa dạng, theo đúng sở thích, lứa tuổi và phong thủy của khách hàng.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="news">
    <div class="container">
        <div class="container-x">
            <h2>Tầm nhìn</h2>
            <div class="row">
                <div class="col-12">
                    <img class="w-100" src="~/img/AnhCatTC/Nền2.jpg" alt="Tầm nhìn">
                </div>
                <div class="col-12 mt-3">
                    <span>
                        Chúng tôi luôn hướng đến việc tạo ra các sản phẩm nội thất trên triết lý tôn trọng và giữ
                        gìn những gì tự nhiên đã ban tặng cho con người. Chúng tôi luôn tìm tòi và ứng dụng các giải
                        pháp sản phẩm và công nghệ tiên tiến nhất...
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="news">
    <div class="container">
        <div class="container-x">
            <h2>Sứ mệnh</h2>
            <div class="row reset">
                <div class="col-6">
                    <div class="box-about-us">
                        <div class="logo-about-us">
                            <img src="~/img/AnhCatTC/images/images/anh1_03.jpg" alt="Với xã hội">
                        </div>
                        <div class="content-about-us">
                            <h5>Với xã hội</h5>
                            <p>Hài hòa lợi ích doanh nghiệp với lợi ích xã hội...</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="box-about-us">
                        <div class="logo-about-us">
                            <img src="~/img/AnhCatTC/images/images/anh2_03.jpg" alt="Với nhân viên">
                        </div>
                        <div class="content-about-us">
                            <h5>Với nhân viên</h5>
                            <p>Xây dựng môi trường làm việc chuyên nghiệp...</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="box-about-us">
                        <div class="logo-about-us">
                            <img src="~/img/AnhCatTC/images/images/anh3_03.jpg" alt="Với đối tác">
                        </div>
                        <div class="content-about-us">
                            <h5>Với đối tác</h5>
                            <p>Đề cao tinh thần hợp tác cùng phát triển...</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="box-about-us">
                        <div class="logo-about-us">
                            <img src="~/img/AnhCatTC/images/images/anh4_03.jpg" alt="Với thị trường">
                        </div>
                        <div class="content-about-us">
                            <h5>Với thị trường</h5>
                            <p>Cung cấp các sản phẩm chất lượng quốc tế...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
